@media print {
    /* @page {
        size: landscape;
        margin: 10%;

        @bottom-center {
            content: "Page " counter(page) " of " counter(pages);
        }
    }

    @page: left {
        @bottom-left {
            content: "Page " counter(page) " of " counter(pages);
        }
    } */

    .maas-page-break {
        display: block;
        page-break-before: always;
    }

    .maas-chart-container {
        display: block;
        max-width: 1200px;
        margin: 0 auto;
        padding: .5rem;
    }

    .maas-chart {
        border: 1px solid gray;
        color: black;
        padding: 1rem;
        height: 100%;
        /* width: 400px;  */
        break-inside: avoid;
    }

    body {
        line-height: 1.5;
        width: 90%;
        margin: 0;
        padding: 0;
    }

    .maas-noprint {
        visibility: hidden;
    }

    .maas-printonly {
        display: contents;
    }
}